<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "CheckedAll">

    <test name = "firstScreen">
        <classes>
            <class name = "ValidationFirstScreen" />
        </classes>
    </test>

    <test name = "secondScreen">
        <classes>
            <class name = "ValidationSecondScreen" />
        </classes>
    </test>

</suite>